.intro {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
}

.intro__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400px;
  color: $white;
}

.intro__button {
  display: block;
  width: 280px;
  height: 40px;
  background-color: $olive;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  text-align: center;
}
