.work {
  background-color: $white;
}

.work__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.work__list {
  list-style: none;
}

.work__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dgrey;
}
