.additional {
  margin-top: 42px;
}

.additional__title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 20px;
  margin-left: -20px;
  transform: translateY(-70%);
}

.additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

.additional__item {
  border-top: 1px solid $borderg;
  border-bottom: 1px solid $borderg;
  margin-top: -1px;
  min-height: 116px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .additional {
    padding: 0;
    margin-top: 89px;
    min-height: 996px;
  }

  .additional__title {
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    margin-top: 55px;
  }

  .additional__item {
    border: 1px solid $borderg;
    min-height: 139px;
    width: 708px;
    margin-top: -1px;
    padding-bottom: 0;
  }

  .additional__button {
    width: 634px;
    margin-left: 37px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin: 0;
    padding: 0;
    min-height: 470px;
    margin-top: 96px;
  }

  .additional__title {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    padding-left: 40px;
    margin-left: -40px;
  }

  .additional__list {
    width: 895px;
    margin: 0;
    padding: 0;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border: 1px solid $borderg;
    width: 895px;
    min-height: 73px;
    border-right: none;
    border-left: none;
    margin-top: -1px;
  }

  .additional__button {
    width: 245px;
    height: 40px;
    margin: 0;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }
}
