.all__contentTitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-align: center;
  margin: 0;
  padding-top: 80px;
}

.all__contentText {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $dgrey;
  text-align: center;
  margin-top: 7px;
}

@media (min-width: $tablet-width) {
  .all {
    border: 1px solid $borderg;
  }

  .all__contentTitle {
    font-size: 20px;
    width: 150px;
    margin-top: 84px;
    margin-left: 50px;
  }

  .all__contentText {
    font-size: 16px;
    width: 200px;
    line-height: 18px;
    margin-top: 28px;
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .all {
    padding: 0;
  }

  .all__contentText {
    margin-top: 23px;
  }
}

