.all {
  position: relative;
}

.all__contentTitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-align: center;
  margin: 0;
  padding-top: 80px;
}

.all__contentText {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $dgrey;
  text-align: center;
  margin-top: 7px;
}

.all::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-plus.svg");
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: 27px;
}

@media (min-width: $tablet-width) {
  .all {
    border: 1px solid $borderg;
    min-height: 429px;
  }

  .all::before {
    width: 60px;
    height: 60px;
    left: 132px;
    top: 55px;
  }

  .all__content {
    margin: 0 38px;
    padding: 0;
  }

  .all__contentTitle {
    font-size: 20px;
    width: 150px;
    margin-top: 84px;
    margin-left: 50px;
  }

  .all__contentText {
    font-size: 16px;
    width: 200px;
    line-height: 18px;
    margin-top: 26px;
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .all {
    padding: 0;
  }

  .all::before {
    left: 92px;
    top: 55px;
  }

  .all__content {
    margin: 0;
  }

  .all__contentTitle {
    margin-left: 47px;
  }

  .all__contentText {
    margin-top: 26px;
    margin-left: 22px;
  }
}
