.cardAddit__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $gblack;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.cardAddit__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $dgrey;
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
}

.cardAddit__textPrice {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .cardAddit__title {
    font-size: 20px;
  }

  .cardAddit__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 633px;
    margin-top: 15px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .cardAddit__text {
    width: 245px;
    font-size: 16px;
    margin-top: 18px;
  }

  .cardAddit__textQuantity {
    text-align: right;
    width: 150px;
  }
}

@media (min-width: $desktop-width) {
  .cardAddit__wrapper {
    margin: 0;
  }

  .cardAddit__text {
    margin: 0;
    margin-top: 18px;
    width: 367px;
  }

  .cardAddit__title {
    margin-top: 12px;
    margin-left: 1px;
  }

  .cardAddit__textQuantity {
    text-align: left;
  }

  .cardAddit__textPrice {
    width: 63px;
    text-align: left;
  }
}
