.form__data {
  border-bottom: 1px solid #ededed;
  min-height: 187px;
  margin: 0;
  padding: 0;
}

.form__listData {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 39px;
}

.form__labelName {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $gblack;
  margin-right: 15px;
  margin-top: 14px;
  white-space: nowrap;
}

.form__itemData:nth-child(2) {
  .form__input {
    padding-left: 15px;
  }
}

.form__label {
  display: flex;
}

.form__input,
.form__textarea {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  height: 45px;
  padding-left: 14px;
  flex-grow: 1;
  border: 1px solid $borderg;
  outline: none;
  width: 50%;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    box-shadow: -1px -1px 0 0 #444444,
      1px 1px 0 0 #444444,
      -1px 1px 0 0 #444444,
      1px -1px 0 0 #444444;
  }
}

.form__input[type="email"],
.form__input[type="tel"] {
  padding-right: 45px;
}

.form__input:focus + svg {
  fill: #74bc48;
}

.form__input:focus:invalid {
  border: 1px solid #ff8282;
  box-shadow: -1px -1px 0 0 #ff8282,
    1px 1px 0 0 #ff8282,
    -1px 1px 0 0 #ff8282,
    1px -1px 0 0 #ff8282;
}

.form__input:focus:invalid + svg {
  fill: #ff8282;
}

.form__textarea::placeholder,
.form__input::placeholder {
  color: $dgrey;
}

.form__itemData {
  margin-top: 14px;
}

.form__itemPlace {
  position: relative;

  .form__labelName {
    margin-right: 10px;
  }
}

.form__target {
  min-height: 145px;
  border-bottom: 1px solid #ededed;
  margin: 0;
}

.form__listTarget {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.form__itemTarget {
  margin-top: 11px;
}

.form__itemTarget:first-child {
  margin-top: 0;
}

.form__label--radio {
  position: relative;
}

.form__label--radio:active {
  opacity: 0.3;
}

.form__label--radio input {
  position: absolute;
  left: 5px;
  top: 15px;
}

.form__radio + .form__labelName {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

.form__radio + .form__labelName::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $borderg;
  border-radius: 50%;
  background: $white;
}

.form__radio + .form__labelName:hover::before {
  border: 1px solid #cdcdcd;
}

.form__radio + .form__labelName::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 09px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $olive;
  opacity: 0;
}

.form__label input:checked + .form__labelName::after {
  opacity: 1;
}

.form__label input:active + .form__labelName::before,
.form__label input:focus + .form__labelName::before {
  border: 1px solid #cdcdcd;
}

.form__title {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  margin: 0;
  background-color: $white;
  margin-left: -20px;
  padding-left: 19px;
  padding-right: 21px;
  transform: translateY(-70%);
}

.form__title--width {
  transform: translateY(-35%);
  width: 221px;
}

.form__contactData {
  margin-top: 42px;
}

.form__listContactData {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.form__icon {
  position: absolute;
  top: 14px;
  left: 247px;
  height: 30px;
  width: 30px;
  fill: #222222;
}

.form__itemPlace:nth-child(2) {
  margin-top: 14px;
}

.form__section {
  margin-top: 43px;
}

.form__textarea {
  width: 280px;
  height: 150px;
  padding-top: 12px;
  padding-left: 14px;
  margin-top: 18px;
  border: 1px solid $borderg;
}

.form__extra {
  min-height: 236px;
  margin-top: 41px;
}

.form__listExtra {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}

.form__itemExtra {
  margin-top: 11px;
}

.form__itemExtra:first-child {
  margin: 0;
}

.form__label--checkbox {
  position: relative;
}

.form__label--checkbox input {
  position: absolute;
  left: 5px;
  top: 25px;
}

.form__checkbox + .form__labelName {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

.form__checkbox + .form__labelName::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $borderg;
  background: $white;
}

.form__checkbox + .form__labelName:hover::before {
  border: 1px solid #bababa;
}

.form__label--checkbox:active {
  opacity: 0.3;
}

.form__checkbox + .form__labelName::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.form__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $dgrey;
  text-align: center;
  margin: 0;
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .form__labelName {
    font-size: 20px;
  }

  .form__data {
    border: none;
    margin-left: 22px;
    margin-top: 67px;
  }

  .form__textarea,
  .form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    height: 52px;
    padding-left: 17px;
  }

  .form__itemData:nth-child(2) {
    .form__input {
      padding-left: 20px;
    }
  }

  .form__listData {
    margin-right: 37px;
  }

  .form__itemData {
    margin-top: 20px;
    width: auto;
    padding-right: 0;
  }

  .form__itemData:first-child {
    margin-top: 0;
  }

  .form__target {
    border: none;
  }

  .form__listTarget {
    border: 1px solid $borderg;
    min-height: 196px;
    margin-top: 71px;
    margin-right: 38px;
    margin-left: 41px;
    padding-left: 30px;
  }

  .form__itemTarget {
    width: auto;
    padding: 0;
    margin-top: 22px;
  }

  .form__radio + .form__labelName {
    padding-left: 57px;
  }

  .form__radio + .form__labelName::before {
    top: -11px;
    left: -2px;
    width: 40px;
    height: 40px;
  }

  .form__radio + .form__labelName::after {
    top: 0;
    left: 09px;
    width: 18px;
    height: 18px;
  }

  .form__itemTarget:first-child {
    margin-top: 20px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__title--width {
    transform: translateY(-70%);
    width: auto;
  }

  .form__input[type="email"],
  .form__input[type="tel"] {
    padding-left: 20px;
  }

  .form__contactData {
    margin-top: 97px;
  }

  .form__listContactData {
    margin-left: 40px;
    margin-right: 36px;
    margin-top: 51px;

    .form__itemPlace {
      margin: 0;
      margin-top: 21px;
    }
  }

  .form__itemPlace:first-child {
    .form__labelName {
      margin-right: 20px;
    }
  }

  .form__itemPlace {
    .form__labelName {
      margin-right: 13px;
    }
  }

  .form__icon {
    top: 16px;
    left: 595px;
  }

  .form__icon--mail {
    top: 18px;
  }

  .form__section {
    margin-top: 86px;
  }

  .form__comment {
    padding-right: 37px;
  }

  .form__textarea {
    height: 173px;
    margin-left: 40px;
    margin-top: 51px;
    margin-bottom: 12px;
    padding-left: 18px;
    padding-top: 15px;
  }

  .form__extra {
    margin-top: 76px;
    min-height: 203px;
  }

  .form__listExtra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 41px;
    margin-top: 19px;

    .form__itemExtra {
      width: 322px;
    }
  }

  .form__itemExtra {
    margin-top: 11px;
    margin-bottom: 30px;
  }

  .form__itemExtra:first-child {
    margin-top: 11px;
  }

  .form__checkbox + .form__labelName {
    padding-left: 57px;
  }

  .form__checkbox + .form__labelName::before {
    top: -13px;
    left: -2px;
    width: 40px;
    height: 40px;
  }

  .form__checkbox + .form__labelName::after {
    top: -1px;
    left: 9px;
    width: 21px;
    height: 21px;
  }

  .form__text {
    margin-left: 23px;
    font-size: 16px;
    margin-top: 50px;
  }

  .form {
    min-height: 1573px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__data {
    margin: 0;
    padding: 0;
  }

  .form__listData {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 570px;
  }

  .form__itemData {
    padding: 0;
  }

  .form__labelName {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-right: 17px;
  }

  .form__listTarget {
    margin: 0;
    padding: 0;
    margin-top: 19px;
    width: 570px;
    margin-left: 20px;
  }

  .form__itemTarget:first-child {
    margin-left: 30px;
  }

  .form__itemTarget {
    margin-top: 20px;
    margin-left: 30px;
  }

  .form__contactData {
    margin-top: 90px;
  }

  .form__itemPlace:first-child {
    .form__labelName {
      margin-right: 22px;
    }
  }

  .form__itemPlace {
    width: 570px;

    .form__labelName {
      margin-right: 15px;
    }
  }

  .form__icon {
    top: 18px;
    left: 533px;
  }

  .form__title {
    margin: 0;
    padding: 0;
    padding-left: 39px;
    margin-left: -39px;
    padding-right: 42px;
  }

  .form__listContactData {
    margin: 0;
    margin-top: 30px;
  }

  .form__comment {
    padding-right: 0;
  }

  .form__textarea {
    margin: 0;
    width: 1220px;
    margin-top: 51px;
  }

  .form__section {
    margin-top: 89px;
    min-height: 353px;
  }

  .form__extra {
    margin: 0;
    min-height: 143px;
  }

  .form__listExtra {
    flex-wrap: nowrap;
    margin: 0;
    margin-top: 17px;
    margin-left: 3px;
  }

  .form__itemExtra {
    margin-left: 80px;
  }

  .form__checkbox + .form__labelName::before {
    top: -11px;
    left: -2px;
    width: 40px;
    height: 40px;
  }

  .form__checkbox + .form__labelName::after {
    top: -1px;
    left: 7px;
    width: 21px;
    height: 21px;
  }

  .form__text {
    margin-left: 82px;
    margin-top: 45px;
  }

  .form {
    min-height: 1196px;
  }
}
