.pageHeader {
  background-color: $white;
}

.pageHeader__logo {
  display: block;
  min-height: 65px;
  margin: 0 -20px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $borderg;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .pageHeader {
    min-height: 85px;
  }

  .pageHeader__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .pageHeader__logo {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 70px;
  }

  .pageHeader__logoImage {
    height: 62px;
    width: 175px;
  }
}
