.pageFooter {
  background-color: $grey;
}

.pageFooter__logo {
  border-bottom: 1px solid $borderg;
  margin: 0;
  padding: 0;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 38px;
  min-height: 94px;
}

.pageFooter__social {
  background-color: $grey;
}

.pageFooter__copyright {
  min-height: 78px;
  display: flex;
  justify-content: space-between;
}

.pageFooter__copyrightTitle {
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $dgrey;
  text-decoration: none;
  margin: 0;
  margin-left: -1px;
  padding-top: 30px;
}

.pageFooter__icon {
  width: 41px;
  height: 41px;
  margin-top: 18px;
  margin-right: -7px;
}

@media (min-width: $tablet-width) {
  .pageFooter__social {
    min-height: 150px;

    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .pageFooter__logo {
    padding: 0;
    margin: 0;
    margin-top: 64px;
    border: none;
    width: 236px;
  }

  .pageFooter__copyright {
    margin-top: 35px;
    width: 236px;
  }

  .pageFooter__icon {
    display: block;
  }

  .pageFooter__copyrightTitle {
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__textBox {
    position: absolute;
  }

  .pageFooter__icon {
    display: block;
  }
}
