.present {
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 289px;
  padding-top: 185px;
  margin-top: 39px;
  margin-bottom: 35px;
}

.present__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  text-align: center;
  width: 170px;
  margin: 0;
  margin-left: 55px;
}

/*.present__text--gift::before {
  position: absolute;
  content: "";
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
}*/

@media (min-width: $tablet-width) {
  .present {
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    margin: 0;
    margin-top: 73px;
    padding: 0;
    padding-right: 78px;
    padding-top: 73px;
    margin-bottom: -13px;
  }

  .present__text {
    margin-left: auto;
    text-align: left;
  }

  .present {
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    margin: 0;
    margin-top: 45px;
  }
}
