.present {
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 324px;
  padding: 0;
  padding-top: 186px;
  margin-top: 39px;
  width: 280px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .present {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.present__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  text-align: center;
  width: 170px;
  margin: 0;
  margin-left: 54px;
}

.present__text--gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 112px;
  top: 65px;
}

@media (min-width: $tablet-width) {
  .present__text--gift::before {
    left: 91px;
    top: 65px;
  }

  .present {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
    width: 708px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    min-height: 200px;
    padding-right: 115px;
    padding-top: 73px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .present {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .present__text {
    margin-left: auto;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .present {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 245px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 187px;
    padding-bottom: 40px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .present {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .present__text--gift::before {
    left: 95px;
    top: 65px;
  }

  .present__text {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
  }
}
