.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {
  border-bottom: 1px solid $borderg;
  margin: 0;
  padding: 0;
  min-height: 209px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 26px;
  }

  .products__item {
    margin: 0;
    padding: 0;
    width: 324px;
    margin-top: 124px;
    border: none;
    min-height: 447px;
    padding-bottom: 40px;
  }

  .products__item:nth-child(8) {
    margin-top: 140px;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    width: 245px;
    margin-top: 126px;
  }
}
