.programs__list {
  list-style: none;
}

.programs__item {
  background-color: $grey;
}

.programs__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $black;
}

.programs__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dgrey;
}

.programs__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black;
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
  }
}
