.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $borderg;
  min-height: 63px;
  flex-wrap: wrap;
}

.social__item {
  margin: 0 12px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

.social__item--vk {
  padding-left: 2px;
}

.social__item--insta {
  padding-left: 7px;
}

.social__item--fb {
  padding-left: 8px;
}

.social__icon--vk {
  width: 22px;
  height: 21px;
}

.social__icon--insta {
  width: 16px;
  height: 21px;
}

.social__icon--fb {
  width: 12px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
    height: 58px;
    width: 200px;
  }

  .social__item {
    padding: 0;
    height: 40px;
    width: 40px;
    margin: 0 8px;
  }

  .social__item--vk {
    padding-top: 6px;
    padding-left: 6px;
  }

  .social__item--insta {
    padding-top: 6px;
    padding-left: 8px;
  }

  .social__item--fb {
    padding-top: 3px;
    padding-left: 1px;
  }

  .social__icon--vk {
    width: 30px;
    height: 22px;
  }

  .social__icon--insta {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 20px;
    height: 28px;
  }
}
