.toggle {
  position: relative;
  padding-bottom: 35px;

  input {
    position: absolute;
    bottom: 0;
    left: 35px;
    z-index: -1;
  }
}

.toggle__list {
  width: 320px;
  height: 240px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-left: -20px;
}

.toggle__change {
  display: flex;
  margin-top: 32px;
  margin-left: 43px;
}

.toggle__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.toggle__slider {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 19px;
  margin-right: 17px;
  background-color: $white;
}

.toggle__slider::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $olive;
  border-radius: 5px;
}

@media (min-width: $tablet-width) {
  .toggle {
    margin-top: -13px;
    padding-bottom: 66px;
  }

  .toggle__change {
    margin: 0;
    padding: 0;
    margin-top: 295px;
    margin-left: 68px;
  }

  .toggle__button {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;
    padding-bottom: 6px;
  }

  .toggle__button:hover {
    border-bottom: 1px solid;
  }

  .toggle__button:active {
    border: none;
  }

  .toggle__slider {
    background-color: #dcdcdc;
    border: none;
    width: 428px;
    height: 6px;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 21px;
  }

  .toggle__slider::after {
    position: absolute;
    content: "";
    left: 211px;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: $olive;
    border-radius: 50%;
  }

  .toggle__slider::before {
    position: absolute;
    content: "";
    left: 199px;
    top: -12px;
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid #bebebe;
  }

  .toggle__slider:hover::before {
    box-shadow: 0 2px 4px #bfbfbf;
  }

  .toggle__slider:active::before {
    border: 2px solid $olive;
  }

  .toggle__image {
    display: block;
    margin-left: 35px;
    margin-top: 75px;
    width: 690px;
  }

  .toggle__list {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 33px;
    margin-left: -20px;
  }
}

@media (min-width: $desktop-width) {
  .toggle {
    margin-top: 0;
  }

  .toggle__change {
    margin: 0;
    padding: 0;
    margin-top: 253px;
    margin-left: 204px;
  }

  .toggle__image {
    position: absolute;
    display: block;
    margin: 0;
    width: 690px;
    top: -30px;
    left: 125px;
  }
}
