.work {
  background-color: $white;
  min-height: 404px;
}

.work__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin-top: 21px;
}

.work__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 79px;
}

.work__item {
  position: relative;
  margin-bottom: 26px;
}

.work__item::before {
  content: "";
  position: absolute;
  background-color: $olive;
  width: 60px;
  height: 60px;
}

.work__item--leaf::before {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: -79px;
  top: -2px;
}

.work__item--powder::before {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: -79px;
  top: -2px;
}

.work__item--dining::before {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: -79px;
  top: -2px;
}

.work__item--clock::before {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: -79px;
  top: -2px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .work__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }

  .work__item--powder::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }

  .work__item--dining::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }

  .work__item--clock::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
}

.work__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dgrey;
}

@media (min-width: $tablet-width) {
  .work {
    border-bottom: 1px solid $borderg;
    padding-bottom: 41px;
  }

  .work__list {
    position: relative;
    z-index: 0;
    counter-reset: myCounter;
  }

  .work__item--number {
    list-style: none;
  }

  .work__item--number:after {
    position: absolute;
    counter-increment: myCounter;
    content:counter(myCounter);
    color: $grey;
    display: inline-block;
    text-align: center;
    font-size: 281.07px;
    line-height: 281.07px;
    top: 31px;
    left: 118px;
    z-index: -1;
  }

  .work__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    margin-top: 45px;
  }

  .work__text {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    padding: 0;
    margin: 0;
    margin-top: 185px;
    z-index: 0;
  }

  .work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .work__item {
    width: 324px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  .work__item::before {
    width: 80px;
    height: 80px;
  }

  .work__item--leaf::before {
    left: 0;
    top: 72px;
  }

  .work__item--powder::before {
    left: 0px;
    top: 72px;
  }

  .work__item--dining::before {
    left: 0px;
    top: 72px;
  }

  .work__item--clock::before {
    left: 0px;
    top: 72px;
  }
}

@media (min-width: $desktop-width) {
  .work {
    border: none;
  }

  .work__title {
    margin-top: 74px;
  }

  .work__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: -1px;
  }

  .work__item {
    width: 245px;
  }
}
