.form__list {
  list-style: none;
}

.form__labelName {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $gblack;
}

.form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
}

.form__text {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $dgrey;
}
