.pageMain {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pageMain__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.pageMain__button {
  display: block;
  width: 280px;
  height: 40px;
  background-color: $olive;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  text-align: center;

  &--grey {
    background-color: $grey;
    color: $dgrey;
  }
}

.pageMain__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}


@media (min-width: 990px) {
  .pageMain {
    width: 768px;
  }
}


@media (min-width: $desktop-width) {
  .pageMain {
    width: 1300px;
  }
}
