*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $oswald;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input::-ms-clear {
  display: none;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  margin: 0 auto;
}

.link {
  fill: #666666;

  &:hover {
    fill: #74bc48;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .wrapper {
    margin: 0 auto;
  }
}
